* {
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-image: url(../img/background_site3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    font-size: x-large;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 0 1.5rem;
    position: sticky;
    z-index: 100;
    top: 0;
}

#logo {
    width: 80px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}



.menu li {
    display: inline-block;
    padding: 15px 35px;
}


.menu li a:hover {
    color: black;
}

.menu li a::after {
    background-color: black;
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    transition: 0.5s;
}

.menu li a:hover:after {
    width: 100%;
}

#openBtn,
#closeBtn {
    display: none;
}



/* FORMULAIRE */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

form label {
    font-weight: bold;
    margin-top: 1.5rem;
}

form input:focus {
    outline: none;
    border-bottom: 3px solid black;
}

form input[type=checkbox] {
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

/* MODALE DELETE */
#modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#modal {
    background-color: red;
    padding: 1rem;
    width: 50%;
}

#closeModalBtn {
    cursor: pointer;
    float: right;
}

/* BODY */
body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4%;


}

body main section {
    width: 80%;
    padding: 1rem;
}

.lien {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* FOOTER */
body footer {

    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p {
    padding: 0 30px;
}

/* tablette */

/* NAVBAR */






/* MOBILE FIRST */

/* NAVBAR */
@media screen and (max-width:600px) {
    #openBtn {
        display: block;
        font-size: 26px;
        padding: 20px 0 20px 0;
        cursor: pointer;
    }

    #closeBtn {
        display: block;
        font-size: 26px;
        padding: 20px 0 20px 20px;
    }

    nav {
        height: 50px;
    }

    #logo {
        margin-top: 5px;
        width: 50px;
    }

    .menu {
        background-color: transparent;
        backdrop-filter: blur(10px);
        position: fixed;
        display: block;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        transition: right 0.5s;
    }

    /* FOOTER */
}