* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../img/background_site3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: x-large;
    overflow-x: hidden;
}

h1,
h2,
h3,
p {
    padding: 1rem;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: sticky;
    z-index: 10;
    top: 0;
}

#logo {
    width: 70px;
    height: 70px;
}

.lienNav {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-desktop li {
    display: inline-block;
    padding: 15px 35px;
}

.navbar-desktop li a:hover {
    color: grey;
}

.navbar-desktop li a::after {
    background-color: grey;
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    transition: 0.5s;
}

.navbar-desktop li a:hover:after {
    width: 100%;
}

.navbar-mobile {
    display: none;
}

.navbar-mobile {
    display: none;
}

.navbar-mobile i {
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: white;
}

.modal {
    transition: top 1s;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 1;
}

.navbar-mobile .navbar-mobile-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-mobile .navbar-mobile-list a {
    font-size: 50px;
    font-weight: 600;
    color: white;
    padding: 1rem;
}

.navbar-mobile li a:hover {
    color: grey;
}

.navbar-mobile li a::after {
    background-color: grey;
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    transition: 0.5s;
}

.navbar-mobile li a:hover:after {
    width: 100%;
}

.change-modal {
    top: 0
}


/* FORMULAIRE */
.formContainer,
.viewContainer,
.DivDelete {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form,
.view,
.containerDelete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: rgba(10, 12, 10, 0.7);
    box-shadow: rgba(2, 65, 4, 0.2) 0px 8px 24px;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    padding: 2rem;
    width: 60%;
}

.form label {
    font-weight: bold;
    margin-top: 1.5rem;
}

input,
select,
textarea,
.submitDelete {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.4rem;
}

.form input:focus {
    outline: none;
    border-bottom: 4px solid darkgreen;
    border-radius: 10px;
}

.upsubmitbtn {
    margin-bottom: 2rem;
}

.submit,
.submitDelete {
    width: 20%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.lienForm {
    background-color: rgba(11, 80, 11, 0.1);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.lienForm:hover {
    color: gray;
    border: 2px solid gray;
}

/* MODALE DELETE */
#modalContainer {
    background-color: rgba(20, 20, 20, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#modal {
    background-color: darkred;
    border-radius: 20px;
    padding: 1rem;
    width: 30%;
}

.FormBtnDelete {
    display: flex;
    align-items: center;
}

.btnDelete {
    width: 30%;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

#closeModalBtn {
    cursor: pointer;
    float: right;
}

/* BODY */
body main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
}

.lien {
    background-color: rgba(10, 12, 10, 0.7);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.lien:hover {
    color: gray;
    border: 3px solid gray;
}

.success {
    color: chartreuse;
    font-weight: bold;
}

.errors {
    color: red;
    font-weight: bold;
}


/* FOOTER */
body footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

footer p {
    padding: 10px 50px;
}

/* TABLETS */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* NAVBAR */
    #logo {
        width: 60px;
        height: 60px;
    }

    /* BODY */
    body {
        min-height: 100vh;
        background-image: url(../img/background_site3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: large;
        overflow-x: hidden;
    }

    .navbar-desktop li {
        display: inline-block;
        padding: 10px 10px;
    }

    /* FORMULAIRE */
    .form,
    .view,
    .containerDelete {
        width: 80%;
    }

    .submit,
    .submitDelete,
    .btnDelete {
        width: 40%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }

    /* MODALE DELETE */
    #modal {
        width: 50%;
    }

    /* FOOTER */
    footer p {
        padding: 10px 30px;
    }
}

/* MOBILE FIRST */
@media screen and (max-width: 768px) {

    /* NAVBAR */
    .navbar-mobile {
        display: block;
    }

    .navbar-desktop {
        display: none;
    }

    #logo {
        width: 50px;
        height: 50px;
    }

    /* BODY */
    body {
        min-height: 100vh;
        background-image: url(../img/background_site3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: medium;
        overflow-x: hidden;
    }

    /* FORMULAIRE */
    .form,
    .view,
    .containerDelete {
        width: 100%;
    }

    .formContainer,
    .viewContainer,
    .DivDelete {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submit,
    .submitDelete,
    .btnDelete {
        width: 80%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }

    /* MODALE DELETE */
    #modal {
        width: 70%;
    }

    /* FOOTER */
    body footer {
        display: flex;
        flex-direction: column;
    }
}