* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(../img/background_site3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    font-size: x-large;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: sticky;
    z-index: 1;
    top: 0;
}

#logo {
    width: 70px;
    height: 70px;
}

.navbar-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-desktop li {
    display: inline-block;
    padding: 15px 35px;
}

.navbar-desktop li a:hover {
    color: grey;
}

.navbar-desktop li a::after {
    background-color: grey;
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    transition: 0.5s;
}

.navbar-desktop li a:hover:after {
    width: 100%;
}

.navbar-mobile{
    display: none;
}

.navbar-mobile{
    display: none;
}

.navbar-mobile i{
    position: fixed;
    z-index: 9999;
    top: 9px;
    right: 15px;
    font-size: 3rem;
    color: white;
}
.modal{
    transition: top 0.9s;
    background-color: black;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.navbar-mobile .navbar-mobile-list{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.navbar-mobile .navbar-mobile-list a{
    font-size: 5rem;
    font-weight: 800;
    color: white;
    padding: 2rem;
}
.change-modal{
    top:0
}

/* FORMULAIRE */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

form label {
    font-weight: bold;
    margin-top: 1.5rem;
}

form input:focus {
    outline: none;
    border-bottom: 3px solid black;
}

form input[type=checkbox] {
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

/* MODALE DELETE */
#modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

#modal {
    background-color: red;
    padding: 1rem;
    width: 50%;
}

#closeModalBtn {
    cursor: pointer;
    float: right;
}

/* BODY */
body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4%;

}

body main section {
    width: 80%;
    padding: 1rem;
}

.lien {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

/* FOOTER */
body footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: black
}

footer p {
    padding: 0 50px;
}


/* TABLETS */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* NAVBAR */

    #logo {
        width: 60px;
        height: 60px;
    }

    .navbar-desktop li {
        display: inline-block;
        padding: 10px 20px;
    }

    /* BODY */

    body {
        font-size: larger;
    }

    .lien {
        font-size: 24px;
        color: white;
    }

    /* FOOTER */

    footer p {
        padding: 0 30px;
    }

}


/* MOBILE FIRST */

@media screen and (max-width: 768px) {

    /* NAVBAR */

    .navbar-mobile {
        display: block;
    }

    .navbar-desktop {
        display: none;
    }

    #logo {
        width: 50px;
        height: 50px;
    }

    /* BODY */

    .lien {
        font-size: 20px;
        color: white;
    }

    body {
        font-size: medium;
    }

    /* FOOTER */

    body footer {

        display: flex;
        flex-direction: column;
    }
}